<% if (site.posts.length){ %>
  <div class="right_menu">
    <p class="right_menu_t orgnge">
      <%= __('archive_a') %>
    </p>
    <ul class="right_menu_b band_ul">
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>  
    </ul>
    <div class="clearfix"></div>
  </div>
<% } %>
