<!-- <footer id="footer">
    <% if (theme.sidebar === 'bottom'){ %>
        <%- partial('_partial/sidebar') %>
            <% } %>
                <div class="outer">
                    <div id="footer-info" class="inner">
                        &copy;
                        <%= date(new Date(), 'YYYY') %>
                            <%= config.author || config.title %><br>
                                <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
                    </div>
                </div>
</footer> -->

<footer>
    <div class="footer_word">
        <div class="detail_footer">
            <div class="footer_l">
                <p><span>丫丫加油</span>/<span><a href="http://www.miitbeian.gov.cn/" target="_blank">豫ICP备14017364号-1</a></span></p>
                <ul>
                    <li>友情链接:</li>
                    <li><a href="#">联系</a></li>
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">打赏</a></li>
                </ul>
            </div>
            <ul class="detail_footer_ul">
                <li><a href="#">关于</a></li>
                <li><a href="#">联系</a></li>
                <li><a href="#">每日一言</a></li>
                <li><a href="#">打赏</a></li>
            </ul>
            <ul class="detail_footer_ewm">
                <li><img src="/images/weixin.png" alt="" class="ewm_small js_ewm_small">
                    <img src="/images/yzipi6.png" alt="" class="ewm_img">
                </li>
                <li><img src="/images/xinlan.png" alt="" class="ewm_small js_ewm_small">
                    <img src="/images/yzipi6.png" alt="" class="ewm_img">
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--bottom-->
    <div class="scroll" id="scroll" style="display:none;"> ︿ </div>
</footer>