<div class="header js_header">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-0 col-md-3 col-lg-2 nav_menu_logo">
                    <a href="<%- url_for() %>" id="logo">
                        <img src="/images/logo1.png" alt="">
                    </a>
                </div>
                <ul class="col-sm-9  col-xs-12 col-md-9 col-lg-10 nav_menu js_nav_menu">
                    <% for (var i in theme.menu){ %>
                        <li>
                            <a href="<%- url_for(theme.menu[i].url) %>">
                                <%= theme.menu[i].title %>
                            </a>
                            <br/><span><%= theme.menu[i].sontitle %></span>
                        </li>
                    <% } %>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
</div>